@model RMS.Models.Eqptstore






<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Store New Equipment</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                        <div class="mb-3">
                            <label asp-for="Date" class="form-label">Date</label>
                            <input asp-for="Date" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>

                     

                        <div class="mb-3">
                            <label for="EqptId" class="form-label">Equipment</label>
                            <select class="form-control" id="eqptid" name="eqptid">
                                @foreach (var E in ViewBag.Eqpt)
                                {
                                    <option value="@E.Id">@E.Name</option>
                                }
                            </select>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Qty" class="form-label">Quantity</label>
                            <input asp-for="Qty" class="form-control" />
                            <span asp-validation-for="Qty" class="text-danger"></span>
                        </div>



                        <div class="d-grid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary" style="width:100%;">Create</button>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/Eqptstore" class="btn btn-success" style="width:100%;">Back</a>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
