@model RMS.Models.EqptstoreVM

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Edit Equipment Store</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                        <input type="hidden" asp-for="Id" />

                        <div class="mb-3">
                            <label asp-for="Date" class="form-label">Date Last Updated</label>
                            <input asp-for="Date" class="form-control" disabled="disabled" value="@Model.Date?.ToString("yyyy-MM-ddTHH:mm")" />

                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Eqptname" class="form-label">Equipment </label>
                            @Html.TextBoxFor(model => model.Eqptname, new { @class = "form-control", @disabled = "disabled" })

                            <span asp-validation-for="Eqptname" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Qty" class="form-label">Quantity</label>
                            <input asp-for="Qty" class="form-control" />
                            <span asp-validation-for="Qty" class="text-danger"></span>
                        </div>

                       

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
